<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>
        Login Page
    </h1>
    <form method="POST" action="login_form">
        <input type="text" name="username" placeholder="Username" />
        <input type="submit" name="submit" value="submit" />
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="flashes" class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <a id="url" href="{{url}}">Sign Up</a>
</body>

</html>